<!-- @if (crop of crops; track $index) {
<div *ngIf="error" class="alert alert-danger" role="alert">
	email ou mot de passe incorrecte
  </div>
} -->
<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<div class="sign-in-htm">
				<form action="" #g="ngForm" (ngSubmit)="utilisateurLogin(g)">
					<div class="group">
						<label for="user" class="label">Username</label>
						<input id="user" type="text" class="input" name="user"  ngModel #user="ngModel"  required>
					</div>
	
					<div class="group">
						<label for="pass" class="label">Password</label>
						<input id="pass" type="pass" class="input" data-type="pass" name="pass"  ngModel #pass="ngModel"  required>
					</div>
					<div class="group">
						<input id="check" type="checkbox" class="check" checked>
						<label for="check"><span class="icon"></span> Keep me Signed in</label>
					</div>
					<div class="group">
						<input type="submit" class="button" value="Sign In">
					</div>
					<div class="hr"></div>
					<div class="foot-lnk">
						<a href="#forgot">Forgot Password?</a>
					</div>
				</form>
			</div>

			<div class="sign-up-htm">
				<form action="" (ngSubmit)="utilisateurSignup(f)" #f="ngForm">
				<div class="group">
					<label for="username" class="label">Username</label>
            		<input id="username" type="text" class="input" name="username" #username="ngModel" ngModel required>
				</div>
				<div class="group">
					<label for="email" class="label">Email Address</label>
           		 	<input id="email" type="text" class="input" name="email" #email="ngModel" ngModel required>
				</div>
				<div class="group">
					<label for="password" class="label">Password</label>
					<input id="password" type="password" class="input" name="password" #password="ngModel" ngModel required>
				  </div>
				<!-- <div class="group">
					<label for="password" class="form-label">Password</label>
					<input ngModel name="password" #password="ngModel" id="password" type="password" class="input" required>
				</div> -->

				
				<div class="group">
					<input type="submit" class="button" value="Sign Up">
				  </div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<label for="tab-1">Already Member?</label>
				</div>
			</form>
			</div>
		
		</div>
	</div>
</div>